<div class="col-md-10  col-md-offset-1">
  <div class="auth">
    <h1 class="text-center"><%= @job.title %><span>by company, Inc.</span> </h1>
      <div id="big-form" class="well auth-box">
        <form>
          <fieldset>
          <%= link_to("Back", jobs_path, class: "pull-right") %>
          <h3>Job Descriptioin:</h3>

          <p>
            <%= simple_format(@job.description) %>
          </p>

          <hr>
          <div class="text-center">
            <% if !current_user || !current_user.applied?(@job) %>
              <%= link_to("Apply", new_job_resume_path(@job), class: "btn btn-default") %>
            <% else %>
              <%= link_to("Has Applied", "#", class: "btn btn-danger") %>
            <% end %>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
