<div class="col-md-8  col-md-offset-2">
  <div class="auth">
    <div id="big-form" class="well auth-box">
      <!-- <form> -->
        <fieldset>
          <h1 class="text-center">Applying Job<br /> <span>for <%= @job.title %></span> </h1>

          <hr>

          <%= simple_form_for [@job, @resume] do |f| %>
            <%= f.input :content %>
            <%= f.input :attachment %>

            <%= f.submit "Submit", class: "btn btn-default"%>
            <%= link_to("Cancel", jobs_path, class: "btn btn-default") %>
          <% end %>

        </fieldset>
      <!-- </form> -->
    </div>
  </div>
</div>
