<!DOCTYPE html>
<html>
    <head>
        <title>WL Offer</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <main>
        <div class="container-fluid">
          <div class="row">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
          </div>
          <% if current_user && current_user.admin? %>
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                   <li><%= link_to("Admin", admin_jobs_path ) %> </li>
                   <li class="active"><%= link_to("Jobs", jobs_path ) %> </li>

                </ul>
              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
            </div>
          <% else %>
            <%= yield %>
          <% end %>
        </div>

      </main>
      <%= render "common/footer" %>

    </body>
</html>
